In [ ]:
#function to generate all perfect numbers in a given range

In [ ]:
#funciton to calculate the average first N prime numbers

### advanced problem set(optional)

In [72]:
#fucntion to calculate average  of all factorials in a given range
def avgfact(n):
    fact=1
    sum=count=0
    for i in range(1,n+1):
        fact*=i
        sum+=fact
        count+=1
    print(fact/count)
avgfact(6)

120.0

In [73]:
#funciton to generate multiplication tables for a number in a given range
# 10 in the range(100,110) inclusive
#10*100=1000
#10*101=1010
#10*102=1020
def multiplicationrange(n,lb,ub):
    for i in range(lb,ub+1):
        print(n,"*",lb,"=",n*lb)
        lb=lb+1
multiplicationrange(10,100,102)

10 * 100 = 1000
10 * 101 = 1010
10 * 102 = 1020

In [6]:
#function to print the alterante values in a range in the same line
#inclusive of set nubmers from[500,550]-->inclusive set(in programming it is an array) (500,550)-->exclusive set(dnt include first and last values)
#[500,550]-->500 502.....550
#(500,550)-->501 502.....549
#range(500,550)-->500 501....549
#all set based funcions in python have start value inclusive and end value exclusive
def alternatevalues(lb,ub):
    for i in range(lb,ub+1,4):
        print(i,end=" ")
    return
alternatevalues(500,525)

500 504 508 512 516 520 524

In [9]:
#funciton to print reverse of given range in the same line
def reverserang(lb,ub):
    for i in range(ub,lb-1,-1):
        print(i,end=" ")
   # return

reverserang(26,20)

In [12]:
def reverserang(lb,ub):
    for i in range(ub,lb-1,-1):
        print(i,end=" ")
   # return
reverserang(20,26)

26 25 24 23 22 21 20

In [15]:
#function to print the odd nubmers in reverse order
def reverseodd(start,end):
    for i in range(end,start-1,-1):
        if i%2!=0:
            print(i,end=" ")
    return
reverseodd(123,130)

129 127 125 123

In [16]:
#funciton to calculate the sum of numbers in a range
def sumrange(start,end):
    sum=0
    for i in range(start,end+1):
        sum=sum+i
    return sum
sumrange(100,200)

15150

In [25]:
#funciton to calculate the average of a given range
#(1,5)-->3
def avgrange(lb,ub):
    sum=0
    count=0
    for i in range(lb,ub+1):
        sum=sum+i
        count=count+1
    return sum//count
avgrange(1,10)

5

In [30]:
#function to generate all leap year in a given time period
#2000-2020-->2000 2004 2012 2016 2020
def isleapyear(lb,ub):
    for i in range(lb,ub+1):
        if i%400==0 or i%100!=0 and i%4==0:
            print(i,end=" ")
isleapyear(2000,2020)

2000 2004 2008 2012 2016 2020

In [33]:
#function to print all numbers divisible by 6
#and not a factor of 100 in a given range(lb,ub)inclusive
def divisiblerange(lb,ub):
    for i in range(lb,ub+1):
        if i%6==0 and 100%i!=0:
            print(i,end=" ")
divisiblerange(20,150)

24 30 36 42 48 54 60 66 72 78 84 90 96 102 108 114 120 126 132 138 144 150

In [37]:
#function to generate all leap years in a given time period
#[200,2020]-->2000 2004 2008 2012 2016 2020
def isleapyear(year):
    if year%400==0 or year%100!=0 and year%4==0:
        return True
    return False
def generateleapyears(startyear,endyear):
    for i in range(startyear,endyear+1):
        if isleapyear(i):
            print(i,end=" ")
generateleapyears(2000,2020)

2000 2004 2008 2012 2016 2020

In [53]:
#calculate number of days in a given time peroid
#for every year in a given time period,if the year is not a leap year-->add 365 not add 366
def numberofdays(lb,ub):
    sum=0
    for year in range(lb,ub+1):
        if isleapyear(year):
            sum=sum+366
        else:
            sum=sum+365
            
    return sum
numberofdays(2000,2010)

4018

In [ ]:
#function to calculate number of hours for a given period
#numberofhours(11,1975,3,1999)-->
def numofhours(lb,ub):
    sum=0
    for year in range(lb,ub+1):
        if isleapyear(year):
            sum=